In [1]:
# Convert skills into machine learning training dataset
import pandas as pd
# Read the file
skills=pd.read_csv("../Data/KnowledgeCleansed.csv")

In [2]:
skills.head()

,Administration and Management,Clerical,Economics and Accounting,Sales and Marketing,Customer and Personal Service,Personnel and Human Resources,Production and Processing,Food Production,Computers and Electronics,Engineering and Technology,...,Foreign Language,Fine Arts,History and Archeology,Philosophy and Theology,Public Safety and Security,Law and Government,Telecommunications,Communications and Media,Transportation,Title
0,6.23,3.50,4.36,3.90,5.55,5.02,2.92,0.29,2.54,1.59,...,0.78,0.87,1.09,1.82,3.61,4.00,1.59,3.35,1.91,Chief Executives
1,4.72,3.64,3.60,4.84,4.92,4.08,2.35,1.36,3.68,4.20,...,0.88,0.96,1.88,2.42,3.38,3.08,0.81,2.92,2.48,Chief Sustainability Officers
2,5.21,3.70,3.84,4.05,5.06,4.43,4.34,0.49,4.00,2.31,...,1.13,0.47,0.43,0.87,3.12,3.12,2.33,2.68,2.31,General and Operations Managers
3,4.39,3.86,1.98,4.73,4.47,3.12,3.51,0.34,4.27,0.62,...,1.29,3.51,0.64,1.06,1.22,1.73,2.91,5.30,1.38,Advertising and Promotions Managers
4,4.61,4.10,3.55,6.05,4.85,3.55,2.92,0.28,4.05,2.47,...,1.36,1.32,1.09,1.12,2.26,2.93,2.56,4.21,1.53,Marketing Managers

In [3]:
target=skills["Title"]
data=skills.drop("Title",axis=1)
feature_name=data.columns
data.head()

,Administration and Management,Clerical,Economics and Accounting,Sales and Marketing,Customer and Personal Service,Personnel and Human Resources,Production and Processing,Food Production,Computers and Electronics,Engineering and Technology,...,English Language,Foreign Language,Fine Arts,History and Archeology,Philosophy and Theology,Public Safety and Security,Law and Government,Telecommunications,Communications and Media,Transportation
0,6.23,3.50,4.36,3.90,5.55,5.02,2.92,0.29,2.54,1.59,...,4.56,0.78,0.87,1.09,1.82,3.61,4.00,1.59,3.35,1.91
1,4.72,3.64,3.60,4.84,4.92,4.08,2.35,1.36,3.68,4.20,...,4.48,0.88,0.96,1.88,2.42,3.38,3.08,0.81,2.92,2.48
2,5.21,3.70,3.84,4.05,5.06,4.43,4.34,0.49,4.00,2.31,...,3.68,1.13,0.47,0.43,0.87,3.12,3.12,2.33,2.68,2.31
3,4.39,3.86,1.98,4.73,4.47,3.12,3.51,0.34,4.27,0.62,...,5.06,1.29,3.51,0.64,1.06,1.22,1.73,2.91,5.30,1.38
4,4.61,4.10,3.55,6.05,4.85,3.55,2.92,0.28,4.05,2.47,...,5.04,1.36,1.32,1.09,1.12,2.26,2.93,2.56,4.21,1.53

In [4]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=100)

In [5]:
kmeans.fit(data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=100, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [7]:
predicted_clusters = kmeans.predict(data)
predicted_clusters
cluster_labels=[]
j=0
for i in predicted_clusters:
    cluster_labels.append([i,target[j]])
    j+=1
cluster_labels
testdf=pd.DataFrame(cluster_labels)
testdf=testdf.rename(columns={0: 'Class', 1: 'Title'})
testdf=testdf.sort_values('Class', ascending=True)
testdf=testdf.set_index("Class")
#testdf=testdf.groupby("Class")

In [8]:
centers = kmeans.cluster_centers_
labels = kmeans.labels_
print(labels)

[58 64  1 14 95 95  8 87 29 92  8 25 23 60 70 51 51  1  1  1  1 58 10 10 70
 70 70 99 10 42 10 95 27 63 12 87 62 87 87 58 23 49 63  1 87 75 31 44 46 92
  1 31  1 25 99 64 34  1 96  1 46 78 78 23 46 10 23  4 59 99 58 39 58  1  3
  1 95 87  8 58 10  8 85 99 72  1 64 95 26 92 72 72 92 26 92  8 27 92 26 26
  8 26 26 92 92 92 41  9 29 77  9  9 77  9 77 77 77 77  9 77  9 77 29 83 83
  9 95 29 96 14 29 92 66 41  9 89 89  9 80 80 50 64 83 98 63 17 17 99 99 11
 98 11 41 63 63 60 99 60 51 29  3  3 17 11 11  3  3 17  3 17 51 99 51 98 11
 11  3 17  3 99 56 56  9 56 98 98 56 98 98 24 98 23 98 98 51 24  3 98 11 51
 51 98 98 51 11 24 56 50 70 70 22 82 82 82 22 82 82 44 64 64 43 23 86 44 66
 11 83 12 17 23 18 64 64 83 63 83 55 55  8 16 36 36 10  4 30 43 73 73 18 43
 30 71 22 12 59 67 83 12 24 24 86 71 64 23 48 12 22 50 75 75 36 36 16 16 36
 36 10 16 16 75 42 10 58  6 46 10 13  6  6  6 42 41 86 80 63 22 22 22 22 82
 18 66 73 73 55 18 30 42 30 54  4 42 37 42 84 42 53 42  5  5 30  5 86 42 86
 27 90 90 86 86 87 86 87 86 86 86 75 86 27 86 43 43 65 37  2 88 22 42 29 90
 14 65 14 76 98 76 15 14 80 15 80 53 37 88 37 34 88 87 27 32 74 53 53 34 34
 34 37 34 37 37 37 37 45 96 37  5 88 45 79 88 34 88 76 54 38 54 38 38 52 38
 52 38 52  4 54  4  4 54 54 52 52  4 38 54 54 54  4 54 38 54  4 57 54 75 16
 52  7 75 75 75  7 16 54 38 52 52  4 52  4 54  4  4  7 52  4 49 59 59 59 59
 59 57 49  7  7  7  7 31 39 49 16  7 57 59 49 52  6 78 94 27  7  7 49 57 60
 23  7 52  4 90 90 90 32 16 90 49 49 27 57 49 59  6  2 59 49 16 57 46 13 31
 31 31 31 31 31 31 32 46 13 46 13 13 43 31 46 13 13 13 46 46 46 32 32 90 32
 46 87 35 39 74  2 39 39 74  2 39 74 74 19 74 74 21 74 87 87 74 74 68 68 68
 68 78 78 27 58 27 74 74  2 67  2  2 65 74 62 32 62 74  2 65 74 74 74 32 79
 79 96 90 90 90 27 75 16 78 95  2 19  2 15 78 96  8  8  8 96 96 72 96 99 96
  2 21 95  8 41  2  2 26  6  2 26 26  6 26  2 26 35 26 26 26  6 58 26 72 26
 26 75 46 46 78  2 26 26 26 78 26  6 79 79 79 19 13 35 68 78 19 21 61 15 21
 15 21 15 19 26  6 26 26 78 26  6 14 26 26 19  6 15  6 72 89 91 70 70 93 35
 35 39 97 39 39 68 93 68 23 21 69 15 25 99 20 20 81 20 20 20  0 81 81 20  0
 91 91 91  0 20 81 85 81 81 20 91 20 91 20 85 81 20 20  0  0  0 81 20  0 81
  0 81 99 85 81 91 91 91 91 81 85 20 91 91 85 91 25 91 69 93 33 91 33 25 67
 45 45 45 98 28 24 98 85 47 45 45 47 33 15 47 47 47 85 47 69 47 47 47 61  0
 28  0 85 85 85 68 24 24 85 69 91 45 61 24 65 28 91 85 28 91 61 25 91 20 47
 69 24 28 28 94 69 67 28 20 33 21 67 39 39 70 39 39 93 39 24 98 67 28 67 67
 28 67 67 67 28 67 21 67 28 67 67 28 24  0 21 33 33  0 24 28 76 67 67 74 21
 21 21 33 76 15 93 67 21 21 67 76 69  0 69  0  0 69 69 24 45 33 33 23 33 24
 33 24 24 85 51 93 33 33 33 93 67 93 93 67 65 15 28 94 94 67 93 21 67 15 67
 15 33 67 93 76 33 28 65 33 67 67 69 28  1 35 35 35 48 48 79 48 79 49 40 32
 19 40 19 32 40 40 40 40 40 40 93 48 48 48 48 85 40 19 47 56 51 47 25 32 21
 91 69 81 91 69 33 33 21 33 74 24 24 24 68 69  0]

In [10]:
testdf.to_csv("../Data/KnowledgeCleansed_Clusters.csv")

In [11]:
test=data[:1]

test

,Administration and Management,Clerical,Economics and Accounting,Sales and Marketing,Customer and Personal Service,Personnel and Human Resources,Production and Processing,Food Production,Computers and Electronics,Engineering and Technology,...,English Language,Foreign Language,Fine Arts,History and Archeology,Philosophy and Theology,Public Safety and Security,Law and Government,Telecommunications,Communications and Media,Transportation
0,6.23,3.5,4.36,3.9,5.55,5.02,2.92,0.29,2.54,1.59,...,4.56,0.78,0.87,1.09,1.82,3.61,4.0,1.59,3.35,1.91

In [12]:
kmeans.predict(test)

array([58])

In [13]:
kmeans.score(test)

-19.046383950617297

In [14]:
import pickle
filename = '../Models/kmeans_knowledge_cluster.sav'
pickle.dump(kmeans, open(filename, 'wb'))
#kmeans.save("kmeans_knowledge_cluster.h5")

In [15]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.predict(test)
print("The test data belongs to Class: ", result)
df=testdf.loc[testdf.index==result[0]]

The test data belongs to Class:  [58]

In [16]:
print("The jobs are:",df.values)
#[school_df["type"]=="District"]

The jobs are: [['Compensation, Benefits, and Job Analysis Specialists']
 ['Labor Relations Specialists']
 ['Compensation and Benefits Managers']
 ['Human Resources Specialists']
 ['Medical and Health Services Managers']
 ['Municipal Clerks']
 ['Chief Executives']
 ['Lawyers']
 ['Spa Managers']]

#