In [1]:
import pickle
from sklearn.cluster import KMeans
import pandas as pd

In [2]:
loaded_model = pickle.load(open('../Models/kmeans_knowledge_cluster.sav', 'rb'))
testdf=pd.read_csv("../Data/KnowledgeCleansed_Clusters.csv")
testdf=testdf.set_index("Class")
skills=pd.read_csv("../Data/knowledgecleansed.csv")
skills.head()

,Administration and Management,Clerical,Economics and Accounting,Sales and Marketing,Customer and Personal Service,Personnel and Human Resources,Production and Processing,Food Production,Computers and Electronics,Engineering and Technology,...,Foreign Language,Fine Arts,History and Archeology,Philosophy and Theology,Public Safety and Security,Law and Government,Telecommunications,Communications and Media,Transportation,Title
0,29.5925,9.3100,16.1320,12.5970,22.6995,20.5820,7.6796,0.3306,5.6642,2.7825,...,1.2168,1.2441,1.6132,3.0940,11.9130,15.6800,2.7984,9.0450,4.2211,Chief Executives
1,18.1720,9.3912,10.6560,16.9400,17.8104,11.0976,5.2405,2.2304,9.7520,14.0700,...,1.2320,1.3248,3.3840,4.4770,8.1120,8.8704,1.2798,8.2928,6.0016,Chief Sustainability Officers
2,22.6635,12.9870,13.3248,14.0535,19.9870,16.6568,14.7126,0.6566,13.3200,5.5902,...,1.8306,0.5452,0.5203,1.3137,9.6720,9.2040,5.8250,6.9412,5.0820,General and Operations Managers
3,18.0429,11.9660,4.3758,18.3524,16.9413,7.4880,10.9512,0.4080,14.6461,0.8246,...,2.1672,10.1790,0.8576,1.5582,2.1716,3.2351,8.9046,22.9490,2.2218,Advertising and Promotions Managers
4,18.6244,12.3410,11.0050,29.3425,18.6725,9.6205,7.1832,0.3136,14.2155,6.8419,...,2.2304,2.2440,1.8312,1.8368,5.6500,8.3798,7.3216,15.9980,2.5704,Marketing Managers

In [3]:
target=skills["Title"]
data=skills.drop("Title",axis=1)
feature_name=data.columns
test=data[:1]
test

,Administration and Management,Clerical,Economics and Accounting,Sales and Marketing,Customer and Personal Service,Personnel and Human Resources,Production and Processing,Food Production,Computers and Electronics,Engineering and Technology,...,English Language,Foreign Language,Fine Arts,History and Archeology,Philosophy and Theology,Public Safety and Security,Law and Government,Telecommunications,Communications and Media,Transportation
0,29.5925,9.31,16.132,12.597,22.6995,20.582,7.6796,0.3306,5.6642,2.7825,...,18.5592,1.2168,1.2441,1.6132,3.094,11.913,15.68,2.7984,9.045,4.2211

In [4]:
result = loaded_model.predict(test)
print("The test data belongs to Class: ", result[0])
df=testdf.loc[testdf.index==result[0]]
print("The jobs are:",df.values)

The test data belongs to Class:  48
The jobs are: [['Recycling Coordinators']
 [ 'First-Line Supervisors of Landscaping, Lawn Service, and Groundskeeping Workers']
 ['Chief Executives']
 ['General and Operations Managers']
 ['Industrial Production Managers']
 ['Purchasing Managers']
 ['Gaming Managers']
 ['Lodging Managers']
 ['Information Technology Project Managers']
 ['Property, Real Estate, and Community Association Managers']
 ['Purchasing Agents, Except Wholesale, Retail, and Farm Products']]

In [5]:
df

                                                   Title
Class
48                                Recycling Coordinators
48     First-Line Supervisors of Landscaping, Lawn Se...
48                                      Chief Executives
48                       General and Operations Managers
48                        Industrial Production Managers
48                                   Purchasing Managers
48                                       Gaming Managers
48                                      Lodging Managers
48               Information Technology Project Managers
48     Property, Real Estate, and Community Associati...
48     Purchasing Agents, Except Wholesale, Retail, a...